In [1]:
import numpy as np

# GENERATE SAMPLE DATA : HEIGHT OF 30 STUDENTS(IN INCHES)

In [2]:
np.random.seed(42)
heights=np.random.normal(loc=65,scale=3,size=100)

In [3]:
heights

array([66.49014246, 64.5852071 , 66.94306561, 69.56908957, 64.29753988,
       64.29758913, 69.73763845, 67.30230419, 63.59157684, 66.62768013,
       63.60974692, 63.60281074, 65.72588681, 59.26015927, 59.8252465 ,
       63.31313741, 61.96150664, 65.942742  , 62.27592777, 60.7630889 ,
       69.39694631, 64.3226711 , 65.20258461, 60.72575544, 63.36685183,
       65.33276777, 61.54701927, 66.12709406, 63.19808393, 64.12491875,
       63.19488016, 70.55683455, 64.95950833, 61.82686721, 67.46763474,
       61.33746905, 65.62659079, 59.12098963, 61.01544185, 65.59058371,
       67.21539974, 65.51410484, 64.65305515, 64.09668891, 60.56443403,
       62.84046737, 63.61808369, 68.17136668, 66.03085487, 59.71087953,
       65.97225191, 63.84475316, 62.969234  , 66.83502887, 68.09299857,
       67.79384036, 62.48234743, 64.07236287, 65.99379029, 67.92663538,
       63.56247729, 64.44302307, 61.68099508, 61.41138013, 67.43757747,
       69.06872009, 64.78396964, 68.01059869, 66.08490808, 63.06464074,
       66.08418682, 69.6141097 , 64.89252188, 69.69393097, 57.14076469,
       67.46570751, 65.2611412 , 64.10297795, 65.27528233, 59.03729326,
       64.34098434, 66.07133771, 69.43368213, 63.44518935, 62.57451919,
       63.49472887, 67.74620635, 65.98625333, 63.41071939, 66.5398023 ,
       65.29123265, 67.90593497, 62.89384072, 64.01701356, 63.82367554,
       60.60945516, 65.88836083, 65.78316582, 65.01534037, 64.2962386 ])

# POINT ESTIMATION : CALCULATE THE SAMPLE MEAN

In [4]:
sample_mean=np.mean(heights)
print("Sample Mean (Point Estimate):",sample_mean)

Sample Mean (Point Estimate): 64.68846044781772

In [5]:
import numpy as np
import scipy.stats as stats

# GENERATE SAMPLE DATA : HEIGHTS OF 30 STUDENTS(IN INCHES)

In [6]:
np.random.seed(47)
heights=np.random.normal(loc=65,scale=3,size=100)

# CALCULATE THE SAMPLE MEAN AND STANDARD DEVIATION

In [7]:
sample_mean=np.mean(heights)
sample_std=np.std(heights,ddof=1)

# SET THE DESIRED CONFIDENCE LEVEL

In [8]:
confidence_level=0.95

# CALCULATE THE MARGIN OF ERROR

In [9]:
margin_of_error=stats.t.ppf((1 + confidence_level)/2,len(heights)-1)*(sample_std/np.sqrt(len(heights)))

In [10]:
margin_of_error

0.628858498905453

# CALCULATE THE CONFIDENCE INTERVAL

In [11]:
lower_bound=sample_mean - margin_of_error
upper_bound=sample_mean + margin_of_error

# PRINT THE CONFIDENCE INTERVAL

In [12]:
print(f"Confidence Interval({confidence_level*100}%):[{lower_bound},{upper_bound}]")

Confidence Interval(95.0%):[64.3537379968567,65.61145499466761]

# HYPOTHESIS T TEST

# GENERATE SAMPLE DATA FOR TWO GROUPS

In [13]:
np.random.seed(42)
group1_scores=np.random.normal(loc=70,scale=5,size=30)
group2_scores=np.random.normal(loc=75,scale=5,size=30)

# PERFORM INDEPENDENT T TEST

In [14]:
t_statistic,p_value=stats.ttest_ind(group1_scores,group2_scores)

# SET THE SIGNIFICANCE LEVEL

In [15]:
alpha=0.05

In [16]:
print("T-test Results:")
print("T-statistic:",t_statistic)
print("p-value;",p_value)

T-test Results:
T-statistic: -4.512913234547576
p-value; 3.176506547469916e-05

# ALPHA TO DETERMINE SIGNIFICANCE

In [17]:
if p_value < alpha:
    print("reject the null hypothesis.there is a significant difference between the means of two groups")
else:
    print("fail to reject the null hypothesis.there is no significant difference between the means of the two groups")

reject the null hypothesis.there is a significant difference between the means of two groups

# PERFORM TWO TAILED TEST

In [18]:
statistics_2tail,p_value_2tail=stats.ttest_ind(group1_scores,group2_scores)

# PERFORM ONE TAILED T-TEST(Right-Tailed)

In [19]:
t_statistic_1tail_right,p_value_1tail_right=stats.ttest_ind(group1_scores,group2_scores,alternative="greater")

# PERFORM ONE TAILED T-TEST(Left-Tailed)

In [20]:
t_statistic_1tail_left,p_value_1tail_left=stats.ttest_ind(group1_scores,group2_scores,alternative="less")

# PRINT TWO-TAILED TEST

In [21]:
print("TWO Tailed Test:")
print("T-statistic:",statistics_2tail)
print("p_value:",p_value_2tail)

TWO Tailed Test:
T-statistic: -4.512913234547576
p_value: 3.176506547469916e-05

# PRINT ONE-TAILED(Right-Tailed) RESULT

In [22]:
print("TWO Tailed Test:")
print("T-statistic:",t_statistic_1tail_right)
print("p_value:",p_value_1tail_right)

TWO Tailed Test:
T-statistic: -4.512913234547576
p_value: 0.9999841174672627

# PRINT ONE-TAILED(Left-Tailed) RESULT

In [23]:
print("TWO Tailed Test:")
print("T-statistic:",t_statistic_1tail_left)
print("p_value:",p_value_1tail_left)

TWO Tailed Test:
T-statistic: -4.512913234547576
p_value: 1.588253273734958e-05